doctype html

html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="UTF-8")
    meta(name="description" content="Oher Noer")
    title Oher Noer
    link(rel="stylesheet" href="/style.css")
  body
    .center
      h1 OHER
      h1 NOER
