body {
  background-color: #242933;
  color: #eceff4;
  font-family: Helvetica, sans-serif;
  margin: 0;
}
.center {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center h1 {
  font-size: 8em;
  margin: 0;
  color: #bf616a;
}

